#set ($webContentTitle = "Quote Header")
#set ($webContentURLTitle = $stringUtil.replace($stringUtil.lowerCase("$webContentTitle"),' ','-'))
#set ($journalArticleLocalService = $serviceLocator.findService("com.liferay.portlet.journal.service.JournalArticleLocalService"))
#set ($journalArticle = $journalArticleLocalService.getLatestArticleByUrlTitle($themeDisplay.getScopeGroupId(),$webContentURLTitle, 0))
#if ($journalArticle)
###display quote
	#set ($locArticleId = $journalArticle.getArticleId().toString())
	#set ($locArticleGroupId = $themeDisplay.getScopeGroupId().toString())
	#set ($quote_includes =    $journalContentUtil.getContent($getterUtil.getLong("$locArticleGroupId"), "$locArticleId", "", "view", "en", $themeDisplay))
	$quote_includes
#end