<div class="slides-wrap">
	<!-- SlidesJS Required: Start Slides -->
	<!-- The container is used to define the width of the slideshow -->
	<div class="container">
		<div id="slides-$reserved-article-title.getData()">
			<div class="slides">
				#foreach ($title in $slidetitle.getSiblings())
					<!-- Slide $velocityCount begin -->
					<div class="slide-threes">
						<img alt="$title.getData()" height="91"
						     src="$title.getChild('slideimage').getData()"
						     width="91"/>
						<ul>
							<li><h1>$title.getData()</h1></li>
							<li><h2>$title.getChild('slidesubtitle').getData()/h2></li>
							<li><p>$title.getChild('slidedescription').getData()</p></li>
						</ul>
					</div>
					<!-- Slide $velocityCount end -->
					#if( $velocityCount % 3 == 0 )
					</div>
					<div class="slides">
					#end
				#end
			</div>
		</div>
	</div>
</div>